    <!DOCTYPE HTML>
    <html xmlns:th="http://www.thymeleaf.org">
    <head>
    <meta charset="UTF-8" />
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    </head>
    <body>
    	<div th:replace="fragments/header :: header">
    		<h1> THIS IS A DEFAULT HEADER</h1>
    	</div>
    	<div>
    		<img th:src="${myCard.imgUrl}" alt="">

    		<h3 th:utext="${myCard.name}">...</h3>

    		<div>
    			<p th:utext="${myCard.description}">
    				...
    			</p>	
    		</div>
    		<h5 th:text="'Family:  '+${myCard.family}">...</h5>
    		<h5 th:text="'Affinity:  '+${myCard.affinity}">...</h5>
    		<h5 th:text="'Defense:  '+${myCard.defense}">...</h5>
			<h5 th:text="'Energy:  '+${myCard.energy}">...</h5>
			<h5 th:text="'HP:  '+${myCard.hp}">...</h5>
			<h5 th:text="'Attack:  '+${myCard.attack}">...</h5>
    	</div>
    </body>
    </html>


